@model Item

<h2>@Model.Name</h2>

<div class="thumbnail">
    <div class="caption-full">
        <h3 class="pull-right">@Model.Price</h3>
        <h3>
            <a href="#">@Model.Name</a>
        </h3>
        <h4>@Model.ShortDescription</h4>
        <div style="width:100%; height:100%;">
            <img src="@Model.ImgPath">
        </div>
    </div>

</div>
<a asp-controller="Image" asp-action="UploadImg" asp-route-id="@Model.Id">Upload a picture for this item!</a>

<a class="btn btn-lg"
   asp-controller="Home" asp-action="DeleteItem" asp-route-id="@Model.Id">
     Delete this item
    <i class="glyphicon glyphicon-trash"></i>
</a>
